html {
  height: 90%;
  background-color: #265B6A;
  font-family: sans-serif;
}

.stream-image {
  border-radius: 5px;
  height: 150px;
  padding: 20px;
}

h2 {
  color: #022A35;
}

#stream {
  border-radius: 10px;
  min-height: 150px;
  background-color: rgba(69, 118, 132, 0.5);
  /* #457684; */
}

#background-box {
  z-index: -1;
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background-text {
  color: #104250;
  font-size: 30px;
}
